.body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
}

.list, .header__list, .section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  letter-spacing: 0.03em;
}
.list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 270px;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin: 0 auto 30px;
  padding: 25px 0;
  border-radius: 4px;
}
.list--gap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  letter-spacing: 0.03em;
}
.list__heading {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin: 0 0 10px;
}
.list__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 0 15px;
  margin: 0;
  max-width: 450px;
}
.list__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list__position {
  position: relative;
}
.list__products {
  max-width: 450px;
}

@media (min-width: 768px) {
  .list__icon {
    width: 354px;
  }
  .list__description {
    width: 354px;
    padding: 0;
  }
  .list__heading {
    text-align: left;
    width: 354px;
  }
  .list__item {
    width: 354px;
  }
  .list__products {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .img-container-secondary {
    height: 440px;
  }
  .list, .header__list, .section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    letter-spacing: 0.03em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (min-width: 1200px) {
  .list__products {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .list__item {
    width: 270px;
  }
  .list__icon {
    width: 270px;
  }
  .list__description {
    width: 270px;
  }
  .list__heading {
    width: 270px;
  }
  .img-container-secondary {
    height: auto;
  }
}
.link, .mobile-socials__link, .mobile-menu__link--active, .mobile-menu__link, .mobile-address__mail, .mobile-address__phone, .footer__link, .header__link, .logo, .logo--white, .logo--black, .link--active {
  text-decoration: none;
  color: #212121;
}
.link:focus, .mobile-socials__link:focus, .mobile-menu__link--active:focus, .mobile-menu__link:focus, .mobile-address__mail:focus, .mobile-address__phone:focus, .footer__link:focus, .header__link:focus, .logo:focus, .logo--white:focus, .logo--black:focus, .link--active:focus, .link:hover, .mobile-socials__link:hover, .mobile-menu__link--active:hover, .mobile-menu__link:hover, .mobile-address__mail:hover, .mobile-address__phone:hover, .footer__link:hover, .header__link:hover, .logo:hover, .logo--white:hover, .logo--black:hover, .link--active:hover {
  color: #2196f3;
}
.link--active {
  color: #2196f3;
}
.link--active::after {
  position: absolute;
  content: "";
  background: #2196f3;
  border-radius: 2px;
  border: 1px solid;
  height: 4px;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(34px);
          transform: translateY(34px);
}
.link:hover .header__icon-mail, .mobile-socials__link:hover .header__icon-mail, .mobile-menu__link--active:hover .header__icon-mail, .mobile-menu__link:hover .header__icon-mail, .mobile-address__mail:hover .header__icon-mail, .mobile-address__phone:hover .header__icon-mail, .footer__link:hover .header__icon-mail, .header__link:hover .header__icon-mail, .logo:hover .header__icon-mail, .logo--white:hover .header__icon-mail, .logo--black:hover .header__icon-mail, .link--active:hover .header__icon-mail {
  fill: #2196f3;
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover .header__icon-phone, .mobile-socials__link:hover .header__icon-phone, .mobile-menu__link--active:hover .header__icon-phone, .mobile-menu__link:hover .header__icon-phone, .mobile-address__mail:hover .header__icon-phone, .mobile-address__phone:hover .header__icon-phone, .footer__link:hover .header__icon-phone, .header__link:hover .header__icon-phone, .logo:hover .header__icon-phone, .logo--white:hover .header__icon-phone, .logo--black:hover .header__icon-phone, .link--active:hover .header__icon-phone {
  fill: #2196f3;
  -webkit-transition-property: fill, color;
  transition-property: fill, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo, .logo--white, .logo--black {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-size: 24px;
  color: #2196f3;
}
.logo--black {
  color: #000000;
}
.logo--white {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .logo, .logo--black, .logo--white {
    font-size: 26px;
  }
}
.section, .section--gray, .section--mobile-hidden {
  padding: 60px 0;
}
.section__heading {
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-size: 28px;
  text-align: center;
  color: #212121;
  margin: 0 0 30px;
}
.section--mobile-hidden {
  display: none;
}
.section__container, .section__container--gap {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
}
.section__container--gap {
  margin-bottom: 94px;
}
.section__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
}
.section__figure-desc {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  position: absolute;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  width: 100%;
  bottom: 0;
}
.section--gray {
  background-color: #f5f4fa;
  width: 100%;
  padding: 60px 0;
}
.section__list {
  gap: 15px 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
}

@media (min-width: 480px) {
  .section__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 768px) {
  .section__container, .section__container--gap {
    padding: 0 15px 0;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .section__container, .section__container--gap {
    width: 1170px;
    padding: 0;
  }
}
.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 15px;
  gap: 93px;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.header__icon-mail {
  width: 14px;
  height: 10px;
}
.header__icon-phone {
  width: 10px;
  height: 14px;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-left: auto;
}
.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  font-size: 14px;
  line-height: 1.16;
  color: #757575;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-column-gap: 46px;
     -moz-column-gap: 46px;
          column-gap: 46px;
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 21px 15px;
    -webkit-column-gap: 83px;
       -moz-column-gap: 83px;
            column-gap: 83px;
  }
  .header__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-column-gap: 60px;
       -moz-column-gap: 60px;
            column-gap: 60px;
  }
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 10px;
  }
  .header__container {
    padding: 24px 0 25px 0;
  }
}
.footer {
  background-color: #2f303a;
  min-width: 320px;
  padding: 60px 0;
}
.footer__address {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 8px;
  margin: 0;
}
.footer .icon, .footer .button-close__icon, .footer .icon--activities, .footer .icon--social, .footer .header__icon-mail, .footer .header__icon-phone {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
}
.footer .icon:hover, .footer .button-close__icon:hover, .footer .icon--activities:hover, .footer .icon--social:hover, .footer .header__icon-mail:hover, .footer .header__icon-phone:hover {
  background-color: #2196f3;
  border-radius: 50%;
  fill: #ffffff;
}
.footer__location {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 20px 0 0 0;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__heading {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 0 20px 0;
  width: 100%;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__contacts {
  margin-bottom: 60px;
}
.footer__socials {
  margin-bottom: 36px;
}
.footer__icons {
  gap: 10px;
  width: 44px;
  height: 44px;
}
.footer__input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  margin: 0 auto 20px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

@media (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 144px;
       -moz-column-gap: 144px;
            column-gap: 144px;
  }
  .footer__input {
    width: 450px;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 70px;
       -moz-column-gap: 70px;
            column-gap: 70px;
  }
  .footer__address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__socials {
    margin-right: 8px;
  }
  .footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    gap: 12px;
  }
  .footer__input {
    width: 358px;
  }
  .footer__heading {
    text-align: left;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-container {
  margin: 0;
  text-align: center;
  line-height: 1.19;
}
.img-container__image {
  display: block;
}
.img-container__heading {
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  padding: 30px 0 10px;
  margin: 0;
}
.img-container__desc {
  font-size: 16px;
  padding-bottom: 16px;
  margin: 0;
}

.img-container-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #ffffff;
  font-size: 0;
  margin: 0;
  margin-block: 0;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.img-container-secondary:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.img-container-secondary__heading {
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  font-size: 18px;
  color: #212121;
  margin: 0 0 4px 0;
}
.img-container-secondary__desc {
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  font-size: 16px;
  margin: 0;
}
.img-container-secondary__overlay {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-container-secondary__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-container-secondary__text {
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-size: 18px;
  color: #ffffff;
  text-align: start;
  padding: 49px 45px 49px 24px;
  margin: 0;
}
.img-container-secondary:hover .img-container-secondary__layer {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.img-container-secondary__caption {
  border-top: 0;
  padding: 20px 24px;
}

@media screen and (min-width: 768px) {
  .img-container-secondary__overlay {
    height: 294px;
  }
  .img-container-secondary__image {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .img-container-secondary__image {
    width: 370px;
  }
}
.icon, .button-close__icon, .icon--activities, .icon--social, .header__icon-mail, .header__icon-phone {
  display: inline-block;
  fill: #afb1b8;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-send {
  width: 60px;
  height: 40px;
  margin-left: 24px;
  position: absolute;
  margin-top: 5px;
}
.icon--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 24px;
}
.icon--social:hover {
  fill: #ffffff;
  background-color: #2196f3;
}
.icon--activities {
  border: 1px solid #afb1b8;
  display: block;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 16px 0 0 52px;
}
.icon--activities:hover, .icon--activities:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .icon--activities {
    width: 170px;
    padding: 17.71px 0 0 32px;
  }
}
.button-secondary, .button, .button--left, .button--color-main {
  cursor: pointer;
  border-style: none;
  font-size: 16px;
}

.button, .button--left, .button--color-main {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px gba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px gba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 0;
  -webkit-transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
}
.button--color-main, .button--left {
  margin: 0 auto;
  background-color: #2196f3;
  -webkit-transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
.button--color-main:hover, .button--left:hover {
  background-color: #2f303a;
  outline: none;
}
.button--left {
  padding: 0 0 0 42px;
  text-align: left;
}

.button-secondary {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin: 0;
  padding: 6px 22px;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button-secondary:focus, .button-secondary:hover {
  background-color: #2196f3;
  color: #ffffff;
  outline-style: none;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-close {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9px;
  -webkit-transition: background-color 1s ease, border 1s ease;
  transition: background-color 1s ease, border 1s ease;
  cursor: pointer;
}
.button-close:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.button-close:hover .button-close__icon {
  fill: #2196f3;
}
.button-close__icon {
  position: absolute;
  right: 8px;
  top: 9px;
  width: 11px;
  height: 11px;
  fill: #212121;
  -webkit-transition: fill 1s ease;
  transition: fill 1s ease;
}
.button-close__icon:hover {
  fill: #ffffff;
}

.section-top {
  min-width: 320px;
  background-color: #2f303a;
}
.section-top__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 118px 0 118px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../images/background.jpg"), #2f303a;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/background.jpg"), #2f303a;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
}
.section-top__header, .section-top__header--margin {
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  display: block;
}
.section-top__header--margin {
  margin-bottom: 30px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .section-top__layout {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("/images/background@2x.jpg"), #2f303a;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/background@2x.jpg"), #2f303a;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .section-top__layout {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
  }
  .section-top__header, .section-top__header--margin {
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-size: 44px;
  }
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms ease, visibility 550ms ease;
  transition: opacity 250ms ease, visibility 550ms ease;
}
.backdrop__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 450px;
  height: 609px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
    height: 581px;
  }
}
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  row-gap: 10px;
  width: 100%;
}
.form__header {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  font-size: 20px;
  text-align: center;
  color: #212121;
  margin: 40px 0 12px 0;
}
.form__lbl {
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  font-size: 12px;
  width: 100%;
  position: relative;
}
.form__input, .form__text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text {
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.01em;
  resize: none;
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
}
.form__terms-and-cond {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 20px 0;
  font-size: 14px;
  width: 100%;
  position: relative;
}
.form__link {
  color: #2196f3;
  font-weight: 400;
  -webkit-transition-property: font-weight, color;
  transition-property: font-weight, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__link:hover {
  color: #212121;
  font-weight: 700;
}
.form__input:focus, .form__text:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
}
.form__input:focus ~ .form__icon, .form__text:focus ~ .form__icon {
  fill: #2196f3;
}
.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 18px;
  height: 18px;
  fill: #212121;
}
.form__checkmark-icon {
  width: 16px;
  height: 15px;
  margin-right: 8px;
  fill: #212121;
  background-color: #ffffff;
  fill: #ffffff;
  padding-left: 2px;
  padding-top: 3px;
  border: 1px solid #000000;
  border-radius: 2px;
  left: 0;
}
.form__checkbox {
  opacity: 0;
  height: 0;
  width: 0;
}
.form__checkbox:checked ~ .form__checkmark-icon {
  fill: #ffffff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 2px;
}
.form__declaration {
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .form__declaration {
    font-size: 14px;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.mobile-address__phone {
  display: block;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-size: 34px;
  color: #2196f3;
  margin: 302px 0 32px 0;
}
.mobile-address__mail {
  display: block;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  font-size: 24px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-toggle, .menu-toggle--close {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  outline: none;
  background-color: transparent;
}
.menu-toggle:hover, .menu-toggle--close:hover {
  fill: #2196f3;
}
.menu-toggle--close {
  top: 21px;
  right: 25.33px;
}

@media (min-width: 768px) {
  .menu-toggle, .menu-toggle--close {
    display: none;
  }
}
.mobile-menu {
  list-style: none;
  padding-left: 0;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  font-size: 40px;
  margin: 0;
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__link, .mobile-menu__link--active {
  color: #212121;
}
.mobile-menu__link--active {
  color: #2196f3;
}

.mobile-socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 8px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-left: 0;
  margin-top: 64px;
  margin-bottom: 0;
  min-width: 320px;
}
.mobile-socials__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}
.mobile-socials__link {
  text-decoration: none;
  color: #2196f3;
}

.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}/*# sourceMappingURL=main.css.map */