.header {
  border-bottom: 1px solid $header-border-color;
  position: relative;

  &__container {
    @include set-flex(row, flex-start);
    padding: 16px 15px;
    gap: 93px;
    min-width: 320px;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__icon-mail {
    @extend .icon;
    width: 14px;
    height: 10px;
  }

  &__icon-phone {
    @extend .icon;
    width: 10px;
    height: 14px;
  }

  &__contact {
    @include set-flex(row);
    column-gap: 50px;
    margin-left: auto;
  }

  &__link {
    @extend .link;
    @include set-flex(row, flex-start, center);
    @include font-atr(500, 1.16, 0.02em);
    column-gap: 10px;
    font-size: 14px;
    line-height: 1.16;
    color: $primary-text-color;
  }

  &__list {
    @extend .list;
    @include set-flex(row, flex-start, stretch);
    @include font-atr(500, 1.14, 0.02em);
    color: $bolded-text-color;
    column-gap: 46px;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    padding: 21px 15px;
    column-gap: 83px;
  }

  .header__list {
    flex-wrap: nowrap;
    column-gap: 60px;
  }

  .header__contact {
    @include set-flex(column, center, baseline);
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact {
    @include set-flex(row, center, baseline);
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .header__container {
    padding: 24px 0 25px 0;
  }
}
