.list {
  @include set-flex(row);
  gap: 30px;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  letter-spacing: 0.03em;

  &__icon {
    @include set-flex(row);
    min-width: 270px;
    max-width: 450px;
    height: 120px;
    background-color: $button-background;
    margin: 0 auto 30px;
    padding: 25px 0;
    border-radius: 4px;
  }
  &--gap {
    @include set-flex(row);
    gap: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    letter-spacing: 0.03em;
  }

  &__heading {
    font-size: get-size("mobile-small-heading");
    @include font-atr(700, 1.14, 0.03em);
    text-transform: uppercase;
    text-align: center;
    color: $bolded-text-color;
    margin: 0 0 10px;
  }
  &__description {
    font-size: get-size("mobile-small-text");
    @include font-atr(400, 1.71, 0.03em);
    padding: 0 15px;
    margin: 0;
    max-width: 450px;
  }

  &__item {
    background-color: $primary-background-color;
    box-shadow: 0px 1px 3px $modal-box-shadow-primary,
      0px 1px 1px $modal-box-shadow-secondary,
      0px 2px 1px $modal-background-color;
    border-radius: 0px 0px 4px 4px;
  }
  &__position {
    position: relative;
  }
  &__products {
    max-width: 450px;
  }
}

@media (min-width: 768px) {
  .list__icon {
    width: 354px;
  }
  .list__description {
    width: 354px;
    padding: 0;
  }
  .list__heading {
    text-align: left;
    width: 354px;
  }
  .list__item {
    width: 354px;
  }
  .list__products {
    flex-basis: calc((100% - 30px) / 2);
  }
  .img-container-secondary {
    height: 440px;
  }
  .list {
    @include set-flex(row);
    gap: 30px;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    letter-spacing: 0.03em;
    justify-content: flex-start;
  }
}

@media (min-width: 1200px) {
  .list__products {
    flex-basis: calc((100% - 60px) / 3);
  }
  .list__item {
    width: 270px;
  }
  .list__icon {
    width: 270px;
  }
  .list__description {
    width: 270px;
  }
  .list__heading {
    width: 270px;
  }
  .img-container-secondary {
    height: auto;
  }
}
